.godot/
*.tmp
*.log
.godot-test-data/
android/
!android/
android/**
!android/build/
!android/build/build.gradle
!android/build/src/
!android/build/src/main/
!android/build/src/main/AndroidManifest.xml
!android/build/src/main/java/
!android/build/src/main/java/com/
!android/build/src/main/java/com/sepukka/
!android/build/src/main/java/com/sepukka/wordpyramid/
!android/build/src/main/java/com/sepukka/wordpyramid/notifications/
!android/build/src/main/java/com/sepukka/wordpyramid/notifications/*.java
!android/build/res/
!android/build/res/drawable/
!android/build/res/drawable/ic_word_ascent_notification.xml
